scripts/out*

.idea/
*.iml
code/
node_modules/
opcuaIIoT/
*leifert*
error*.txt
.DS_Store
maps/
docs/gen/
coverage/
.coverage/
pki/
.vscode/
jcoverage/

\.jsinspect-results\.json

certificates/

dist/

*.log
*.bak
.vscode/settings.json
*.pem

#lucat
.lh/
*.backup
built/
/node-red-test/*
# Ma non ignorare i file per l'applicativo node-red
!/node-red-test/.node-red/
!/node-red-test/.node-red/**